.home
{
    background-color:rgb(9, 9, 9);
   
}
.morgan
{
    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
}

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}
.navbar-b.navbar-trans .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-item
{
    padding: 10px !important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.navbar-brand
{
    font-weight: 600;
    color: #fff;
    font-size: 1.6rem;

}
a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .box-shadow-a, .button:hover {
    box-shadow: 0 0 0 4px #cde1f8;
  }
  
.navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
}
.navbar-b.navbar-trans .nav-link:hover, .navbar-b.navbar-reduce .nav-link:hover {
    color: #1B1B1B;
}
.nav-item a:hover
{
    border-bottom: solid white 2px;
}
.sectitle
{

}
.overlay-intro
{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}
.intro-title
{
    font-size: 4.5rem;
    color: #fff;
    font-weight: 600;
    display: block;
}
.fortitle
{
z-index: 1;
color: #fff;
}
.sect-pt-4
{
    padding-top: 4rem;
}
.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
#about
{
    background-color: #f5f5f5;
}
.title-span {
    font-weight: 600;
    color: #1e1e1e;
    font-size:
     1.1rem;
}
.pull-right
{
    float: right;
}
.skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}
#services
{
    background-color: #f5f5f5;
}
#services .fortitle
{
    color: black;
    
}
.forline
{
    width: 35px;
    height: 5px;
    background-color: #007bff;
    margin: auto;
}
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
    transition: all 500ms ease;
}

.service:hover .ico-circle {
   
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}
.achievments
{
    background-image: url(../img/counters-bg.jpg);
    
}
.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: #0078ff;
}
.bg-img
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.achiev-circle {
    height: 70px;
    width: 70px;
    font-size: 1rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px  #cde1f8;
    display: block;
    transition: all 500ms ease;
}
.service-content
{
padding: 5px;
margin-bottom: 10px;
box-sizing: border-box;
}
.s-title
{
font-size: 1.6em;
}

.link-circle
{

}